:root {
    --blue: #002E6D;
    --blueLight: #E6F4FF;
    --red: #E1251B;
    --grey: #97A1B7;
    --greyDisabled: #E8E8E8;
    --greyTextDisabled: #BBBBBB;
    --black: #354052;
    --offWhite: #F2F8FF;
    --white: #fff;
    --placeholder: #B5B5B5;
    --green:#00AE3A;
    --avialable:#E3FFE9;
    --notAvilable:#FFE8E6;
    --lightBlue:#E1F2FF;
    --hovertable:#F6FAFF;

}